html, body, form, fieldset, p, div, ul, h1, h2, h3, h4, h5, h6, figure, article, strong, dl, dd {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: none;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f4f7;
    overflow-x: hidden;
}

img {
    border: 0 none;
    vertical-align: middle;
    width: 100%;
}
:focus {
    outline: 0;
}
.none{
    display: none !important; 
}
.main{
    position: relative;
}
.bg-pic{
    display: block;
    width: 100%;
}
.video-circle{
    position: absolute;
    top: 34.5%;
    left: 11%;
    width: 78%;
    margin-top: -1px;
}
.source{
    display: block;
    width: 100%;
}
.play{
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    -webkit-transform: translate3d(-50%,-50%,0);
}
.get-immediately{
    display: block;
    position: absolute;
    width: 24%;
    bottom: 17.1%;
    left: 38%;
}
