@font-face {
    font-family: Montserrat;
    src: url("https://modiface-cms.lorealchina.com/lorealcmsapi-linux/data/fonts/Montserrat/Montserrat-Bold.otf") format("opentype");
    font-weight: 700;
}
@font-face {
    font-family: Montserrat;
    src: url("https://modiface-cms.lorealchina.com/lorealcmsapi-linux/data/fonts/Montserrat/Montserrat-ExtraLight.otf") format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: Montserrat;
    src: url("https://modiface-cms.lorealchina.com/lorealcmsapi-linux/data/fonts/Montserrat/Montserrat-Light.otf") format("opentype");
    font-weight: 300;
}
@font-face {
    font-family: Montserrat;
    src: url("https://modiface-cms.lorealchina.com/lorealcmsapi-linux/data/fonts/Montserrat/Montserrat-Regular.otf") format("opentype");
    font-weight: 400;
}
